# Revisiting Blockbuster

## Data Cleansing:

    actor.csv
    category.csv
    film.csv
    inventory.csv
    language.csv
    old_HDD.csv
    rental.csv

https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Blockbuster_logo.svg/2560px-Blockbuster_logo.svg.png

_____

In [1]:
# %pip install ipynb

In [2]:
import re
import zipfile
import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from ipynb.fs.full.clean_functions import *

import warnings
warnings.filterwarnings('ignore')

## actor.csv

In [3]:
raw_actor = pd.read_csv('../input/actor.csv', encoding='latin1')

In [4]:
actor = raw_actor.copy()

In [5]:
actor.shape

(200, 4)

In [6]:
actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [7]:
any_duplicate(actor)

False

In [8]:
error

NameError: name 'error' is not defined

In [ ]:
plt.figure(figsize=(10, 6), facecolor='none') 
sns.heatmap(actor.isna(),           
            yticklabels=False,  
            cmap='magma',     
            cbar=False)
plt.show();

In [ ]:
cte_str_cols = []

for col in actor.select_dtypes(include = 'object'):
    if len(actor[col].unique()) == 1:
        cte_str_cols.append(col)
          
cte_str_cols

In [ ]:
actor.drop('last_update', axis = 1, inplace = True)

In [ ]:
actor.shape

In [ ]:
actor.to_csv('../output/actor.csv', index=False)

____

## category.csv

In [ ]:
raw_category = pd.read_csv('../input/category.csv', encoding='latin1')

In [ ]:
category = raw_category.copy()

In [ ]:
category.shape

In [ ]:
category.head()

In [ ]:
category.duplicated().any()

In [ ]:
plt.figure(figsize=(10, 6), facecolor='none') 
sns.heatmap(category.isna(),           
            yticklabels=False,  
            cmap='magma',     
            cbar=False)
plt.show();

In [ ]:
cte_str_cols = []

for col in category.select_dtypes(include = 'object'):
    if len(category[col].unique()) == 1:
        cte_str_cols.append(col)
          
cte_str_cols

In [ ]:
category.drop('last_update', axis = 1, inplace = True)

In [ ]:
## film.csv
inventory.csv
language.csv
old_HDD.csv
rental.csv